<%= form_for :post, :url => { :action => :extract } do |f| %>
<p>
<%= f.label :clade %>
<%= collection_select(:post, :clade, @clades, :value, :name, {:prompt => "Select a clade"}, {:id => 'clades_select'}) %>

<%= f.label :org %>
<%= collection_select(:post, :org, @orgs, :value, :name, {:prompt => "Select org"}, {:id => 'orgs_select'}) %>
</p>

<p>
<%= f.label :db %>
<%= collection_select(:post, :db, @dbs, :value, :name, {:prompt => "Select a db"}, {:id => 'dbs_select'}) %>

<%= f.label :hgta_group %>
<%= collection_select(:post, :db, @groups, :value, :name, {:prompt => "Select a group"}, {:id => 'groups_select'}) %>
</p>

<p>
<%= f.label :hgta_track %>
<%= collection_select(:post, :db, @tracks, :value, :name, {:prompt => "Select a track"}, {:id => 'tracks_select'}) %>

<%= f.label :hgta_table %>
<%= collection_select(:post, :db, @tables, :value, :name, {:prompt => "Select a table"}, {:id => 'tables_select'}) %>
</p>

<p>
<%= f.label :gene_ids %> <br>
<%= f.text_area :gene_ids, :value => "NM_001005288" %>
</p>

<p>
<%= f.label :upstream %>
<%= f.text_field :upstream, :value => "500" %>

<%= f.label :downstream %>
<%= f.text_field :downstream, :value => "500" %>
</p>

<p>
<%= f.submit 'ExtractData' %>
</p>
<% end %>

<script>
  $(document).ready(function() {
    $('#clades_select').change(function() {
      $.ajax({
        url: "<%= update_orgs_path %>",
        data: {
          clade : $('#clades_select').val()
        },
        dataType: "script"
      });
    });
    $('#orgs_select').change(function() {
      $.ajax({
        url: "<%= update_dbs_path %>",
        data: {
          org: $('#orgs_select').val()
        },
        dataType: "script"
      });
    });
    $('#dbs_select').change(function() {
      $.ajax({
        url: "<%= update_groups_path %>",
        data: {
          db : $('#dbs_select').val()
        },
        dataType: "script"
      });
    });
    $('#groups_select').change(function() {
      $.ajax({
        url: "<%= update_tracks_path %>",
        data: {
          group: $('#groups_select').val()
        },
        dataType: "script"
      });
    });
    $('#tracks_select').change(function() {
      $.ajax({
        url: "<%= update_tables_path %>",
        data: {
          track: $('#tracks_select').val()
        },
        dataType: "script"
      });
    });
});
</script>