<%= form_for :post, :url => { :action => :extract } do |f| %>
<p>
<%= f.label :clade %><br>
<%= f.text_field :clade, :value => "#{@request_params["clade"]}" %>
<%= f.text_field :org, :value => "#{@request_params["org"]}" %>
<%= f.text_field :db, :value => "#{@request_params["db"]}" %>
<%= f.text_field :hgta_group, :value => "#{@request_params["hgta_group"]}" %>
<%= f.text_field :hgta_track, :value => "#{@request_params["hgta_track"]}" %>
<%= f.text_field :hgta_table, :value => "#{@request_params["hgta_table"]}" %>
<%= f.text_area :gene_ids, :value => "Gene IDs" %>
</p>

<p>
<%= f.submit 'ExtractData' %>
</p>
<% end %>
